hbutils>=0.8.0
tqdm>=4.0.0
click>=7.0.0
transliterate>=1.10.2
unidecode
yolort>=0.6.3
opencv-python>=4.6.0
numpy
torch
pillow
torchvision>=0.14.0
scikit-learn>=1.0.0
pixivpy3>=3.7.2
DI-toolkit
ipyplot>=1.1.0
imgcompare>=2.0
pandas
pyquery
huggingface_hub>=0.10